.pop_up {
    position: sticky;
    bottom: 0px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0;
    height: 100px;
    background-color: rgb(246, 190, 253);

}


.pop_up div {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.pop_up a {
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    width: 100%;
}

.pop_up p{
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-weight: bold;
}

.pop_up.error {
    background-color: rgb(245, 92, 92);
}

.pop_up.error p {
    color: aliceblue;
}

.pop_up.error a {
    color: aliceblue;
}

.pop_up button{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    align-self: flex-start;
}